
/* Grid */
.grid-container {
    margin: 3rem 4rem;
    padding: 5rem 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
    grid-row-gap: 100px;
    justify-items: center;
}



/* Box hover transitions */


.box {
  -webkit-transition: 2s; 
  transition: 1s;
}

.box:hover {
    width: 300px;
    height: 300px;
    transform:rotate(720deg);
    -ms-transform:rotate(762deg);
    -webkit-transform:rotate(720deg);
}


/* Boxes */
.box1 {
    width: 10px;
    height: 90px;
    background-color: gray;
    transform: rotate(-45deg);
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(217, 175, 91);
    transform: rotate(-45deg);
    margin-top: 1rem;
}

.box3 {
    width: 90px;
    height: 10px;
    background-color: gray;
}

.box4 {
    width: 30px;
    height: 60px;
    background-color: rgb(231, 59, 59);
    transform: rotate(45deg);
    justify-self: end;
    align-self: center;
    margin-top: 2rem;
}

.box5 {
    width: 100px;
    height: 100px;
    background-color: rgb(46, 115, 208);
    transform: rotate(-45deg);
    grid-column: 3;
    justify-self: start;  
    margin-top: 2rem;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.box11 {
    width: 100px;
    height: 100px;
    background-color: gray;
}